:root {
    
    --blackColor: #000000;
    --blueColor: #277DA1;
    --brownColor: #65442F;
    --cyanColor: #75DDDD;
    --grayColor: #5E6472;
    --greenColor: #90BE6D;
    --indigoColor: #577590;
    --mintColor: #4D908E;
    --orangeColor: #F8961E;
    --pinkColor: #FF87AB;
    --purpleColor: #9D4EDD;
    --redColor: #F94144;
    --tealColor: #43AA8B;
    --whiteColor: #FFFFFF;
    --yellowColor: #F9C74F;
    --silverColor: #F8F9FA;
    --highlightColor: #000000;
    --primaryColor: #000000;
    --secondaryColor: #000000;
    
    --buttonPadding: 10px 24px;
    --buttonBorderColor: 5;
    --buttonBorderWidth: 1px;
    --buttonBorderRadius: 5px;
    --buttonFontSize: 14px;
    --buttonFontWeight: normal;
    --buttonLineHeight: 1.2rem;
    
    --smallFontSize: 0.8em;
    --smallFontWeight: 600;
    --smallLineHeight: 1.6em;
    --normalFontSize: 1.4em;
    --normalFontWeight: 600;
    --normalLineHeight: 1.8em;
    --mediumFontSize: 1.6em;
    --mediumFontWeight: 600;
    --mediumLineHeight: 2.0em;
    --largeFontSize: 2.3em;
    --largeFontWeight: 900;
    --largeLineHeight: 1.1em;
    
    --inputBorderColor: #DEE2E6;
    --inputBorderWidth: 1px;
    --inputBorderRadius: 5px;
}
