:root {
    
    --darkgreyColor: #5E5E5E;
    --greyColor: #E7E7E7;
    --silverColor: #F8F9FA;
    --darkredColor: #9b2335;
    --redColor: #E63946;
    --lightredColor: #FF6160;
    --darkorangeColor: #E85D04;
    --orangeColor: #F77F00;
    --lightorangeColor: #E15D44;
    --darkblueColor: #003049;
    --blueColor: #4F86C7;
    --lightblueColor: #6DA0FC;
    --darkgreenColor: #007200;
    --greenColor: #94B33D;
    --lightgreenColor: #A1C349;
    --darkyellowColor: #FFBA08;
    --yellowColor: #FEE440;
    --lightyellowColor: #F9D053;
    --whiteColor: #FFFFFF;
    --blackColor: #000000;
    --highlightColor: #6DA0FC;
    --primaryColor: #000000;
    --secondaryColor: #000000;
    --tertiaryColor: #000000;
    
    --buttonPadding: 10px 24px;
    --buttonBorderColor: 5;
    --buttonBorderWidth: 1px;
    --buttonBorderRadius: 5px;
    --buttonFontSize: 14px;
    --buttonFontWeight: normal;
    --buttonLineHeight: 1.2rem;
    
    --smallFontSize: 0.8em;
    --smallFontWeight: 600;
    --smallLineHeight: 1.6em;
    --normalFontSize: 1.4em;
    --normalFontWeight: 600;
    --normalLineHeight: 1.8em;
    --mediumFontSize: 1.6em;
    --mediumFontWeight: 600;
    --mediumLineHeight: 2.0em;
    --largeFontSize: 2.3em;
    --largeFontWeight: 900;
    --largeLineHeight: 1.1em;
    
    --inputBorderColor: #dee2e6;
    --inputBorderWidth: 1px;
    --inputBorderRadius: 5px;
}
