.collection {
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: var(--collectionGapSize)
}

.collection-item {
    
    height: var(--collectionItemHeight)
}
