:root {
    
    --blackColor: hsla(0, 0%, 0%, 100%);
    
    --blueLightColor: hsla(198, 50%, 75%, 100%);
    --blueColor: hsla(198, 50%, 50%, 100%);
    --blueDarkColor: hsla(198, 50%, 35%, 100%);
    
    --brownLightColor: hsla(23, 50%, 75%, 100%);
    --brownColor: hsla(23, 50%, 50%, 100%);
    --brownDarkColor: hsla(23, 50%, 35%, 100%);
    
    --cyanLightColor: hsla(180, 50%, 75%, 100%);
    --cyanColor: hsla(180, 50%, 50%, 100%);
    --cyanDarkColor: hsla(180, 50%, 35%, 100%);
    
    --grayLightColor: hsla(222, 50%, 75%, 100%);
    --grayColor: hsla(222, 50%, 50%, 100%);
    --grayDarkColor: hsla(222, 50%, 35%, 100%);
    
    --greenLightColor: hsla(94, 50%, 75%, 100%);
    --greenColor: hsla(94, 50%, 50%, 100%);
    --greenDarkColor: hsla(94, 50%, 35%, 100%);
    
    --indigoLightColor: hsla(208, 50%, 75%, 100%);
    --indigoColor: hsla(208, 50%, 50%, 100%);
    --indigoDarkColor: hsla(208, 50%, 35%, 100%);
    
    --mintLightColor: hsla(178, 50%, 75%, 100%);
    --mintColor: hsla(178, 50%, 50%, 100%);
    --mintDarkColor: hsla(178, 50%, 35%, 100%);
    
    --orangeLightColor: hsla(33, 50%, 75%, 100%);
    --orangeColor: hsla(33, 50%, 50%, 100%);
    --orangeDarkColor: hsla(33, 50%, 35%, 100%);
    
    --pinkLightColor: hsla(342, 50%, 75%, 100%);
    --pinkColor: hsla(342, 50%, 50%, 100%);
    --pinkDarkColor: hsla(342, 50%, 35%, 100%);
    
    --purpleLightColor: hsla(273, 50%, 75%, 100%);
    --purpleColor: hsla(273, 50%, 50%, 100%);
    --purpleDarkColor: hsla(273, 50%, 35%, 100%);
    
    --redLightColor: hsla(359, 50%, 75%, 100%);
    --redColor: hsla(359, 50%, 50%, 100%);
    --redDarkColor: hsla(359, 50%, 35%, 100%);
    
    --tealLightColor: hsla(162, 50%, 75%, 100%);
    --tealColor: hsla(162, 50%, 50%, 100%);
    --tealDarkColor: hsla(162, 50%, 35%, 100%);
    
    --whiteColor: hsla(0, 0%, 100%, 100%);
    
    --yellowLightColor: hsla(42, 50%, 75%, 100%);
    --yellowColor: hsla(42, 50%, 50%, 100%);
    --yellowDarkColor: hsla(42, 50%, 35%, 100%);
    
    --silverLightColor: hsla(210, 50%, 75%, 100%);
    --silverColor: hsla(210, 50%, 50%, 100%);
    --silverDarkColor: hsla(210, 50%, 35%, 100%);
    
    --primaryLightColor: hsla(0, 50%, 75%, 100%);
    --primaryColor: hsla(0, 50%, 50%, 100%);
    --primaryDarkColor: hsla(0, 50%, 35%, 100%);
    
    --primaryLightColor: hsla(0, 50%, 75%, 100%);
    --primaryColor: hsla(0, 50%, 50%, 100%);
    --primaryDarkColor: hsla(0, 50%, 35%, 100%);
    
    --secondaryLightColor: hsla(0, 50%, 75%, 100%);
    --secondaryColor: hsla(0, 50%, 50%, 100%);
    --secondaryDarkColor: hsla(0, 50%, 35%, 100%);
    
    --buttonPadding: 10px 24px;
    --buttonBorderColor: 5;
    --buttonBorderWidth: 1px;
    --buttonBorderRadius: 5px;
    --buttonFontSize: 14px;
    --buttonFontWeight: normal;
    --buttonLineHeight: 1.2rem;
    
    --smallFontSize: 0.8em;
    --smallFontWeight: 600;
    --smallLineHeight: 1.6em;
    --normalFontSize: 1.4em;
    --normalFontWeight: 600;
    --normalLineHeight: 1.8em;
    --mediumFontSize: 1.6em;
    --mediumFontWeight: 600;
    --mediumLineHeight: 2.0em;
    --largeFontSize: 2.3em;
    --largeFontWeight: 900;
    --largeLineHeight: 1.1em;
    
    --inputTextColor: #000000;
    --inputBackgroundColor: #FFFFFF;
    --inputBorderColor: #DEE2E6;
    --inputBorderWidth: 1px;
    --inputBorderRadius: 5px;
    --inputFocusColor: hsla(210, 14%, 89%, 40%);
    
    --dividerColor: #FFFFFF;
    
    --listGapSize: 15px;

    --collectionItemHeight: 200px;
    --collectionGapSize: 35px;
}
