:root {
    
    /**
     input variables
     */
    
    --inputTextColor: var(--blackColor);
    --inputBackgroundColor: var(--whiteColor);
    --inputBorderColor: hsla(210, 14%, 89%, 100%);
    --inputBorderWidth: 1px;
    --inputBorderRadius: 5px;
    --inputFocusColor: hsla(210, 14%, 89%, 40%);
    
    /**
     slider variables
     */
    
    --sliderBackgroundColor: var(--whiteColor);
    --sliderBorderColor: var(--whiteColor);
    --thumbBorderColor: var(--whiteColor);
    --thumbBackgroundColor: var(--whiteColor);
}

.form {

    display: block;
    width: 100%;
    height: auto;
}

.label {
    
    display: inline-block;
    margin: 8px 0px 8px 0px;
}

.input {
    
    margin: 8px 0px 8px 0px;
    padding: 7px 12px 7px 12px;
    border: var(--inputBorderWidth) solid var(--inputBorderColor);
    border-radius: var(--inputBorderRadius);
    font-size: 1.0rem;
    font-weight: 400;
    color: var(--inputTextColor);
    background-color: var(--inputBackgroundColor);
    box-sizing: border-box;
}

.input:focus {
    
    outline: 0;
    box-shadow: 0 0 0 4px var(--inputFocusColor);
}

.input.type\:textfield {
    
    display: block;
    width: 100%;
    height: 35px;
}

.input.type\:texteditor {
    
    display: block;
    width: 100%;
    min-height: 35px;
    resize: none;
}

.input.type\:checkbox {
    
    display: inline-block;
    height: 35px;
}

.input.type\:checkfield {
    
    display: inline-block;
    width: 35px;
}

.input.type\:radioselect {
    
    display: inline-block;
    width: 35px;
}

.input.type\:slider {
    
    display: block;
    width: 100% !important;
    height: 3px;
    padding: 0 0 0 0;
    background-color: var(--sliderBackgroundColor);
    border: 1px solid var(--sliderBorderColor);
    border-radius: 5px;
    appearance: none;
    -webkit-appearance: none;
}

.input.type\:slider::-webkit-slider-thumb {
    
    width: 20px;
    height: 20px;
    border: 1px solid var(--thumbBorderColor);
    border-radius: 50%;
    background-color: var(--thumbBackgroundColor);
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}

.input.type\:slider::-moz-range-thumb {
    
    width: 20px;
    height: 20px;
    border: 1px solid var(--thumbBorderColor);
    border-radius: 50%;
    background-color: var(--thumbBackgroundColor);
    cursor: pointer;
}

.input.type\:datepicker {
    
    display: block;
    width: 100%;
    height: 35px;
}

.input.type\:securefield {
    
    display: block;
    width: 100%;
    height: 35px;
}

.input.type\:searchfield {

    display: block;
    width: 100%;
    height: 35px;
}

.input.type\:selectfield {
    
    display: block;
    width: 100%;
    height: 40px;
    -webkit-appearance: none;
}

.required\:true:after {
    
    content: " *";
    color: var(--redColor);
}
