:root {

    /**
     list variables
     */
    
    --listRowPadding: 0 15px 0 15px;
    --listGapSize: 15px;
}

.list {
    
    display: flex;
    list-style-type: none;
    gap: var(--listGapSize);
}

.list.direction\:horizontal {
    
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 15px 0 15px;
}

.list.direction\:vertical {
    
    flex-direction: column;
    margin: 15px 0 15px 0;
}

.list-row {
    
    padding: var(--listRowPadding);
}
