:root {
    
    /**
     neutral colors
     
     - black: #000000
     - white: #FFFFFF
     */
    
    --blackColor: hsla(0, 0%, 0%, 100%);
    --whiteColor: hsla(0, 0%, 100%, 100%);
    
    /**
     supporting colors
     
     - blue: #4098D7
     - brown: #BF7140
     - cyan: #38BEC9
     - green: #57AE5B
     - indigo: #647ACB
     - mint: #91E697
     - pink: #DA4A91
     - purple: #724BB7
     - red: #D64545
     - teal: #3EBD93
     - orange: #E67635
     - yellow: #F7D070
     - gray: #9E9E9E
     - silver: #F7F7F7
     */
    
    --blueColor: hsla(205, 65%, 55%, 100%);
    --brownColor: hsla(23, 50%, 50%, 100%);
    --cyanColor: hsla(185, 57%, 50%, 100%);
    --greenColor: hsla(123, 35%, 51%, 100%);
    --indigoColor: hsla(227, 50%, 59%, 100%);
    --mintColor: hsla(124, 63%, 74%, 100%);
    --pinkColor: hsla(330, 66%, 57%, 100%);
    --purpleColor: hsla(262, 43%, 51%, 100%);
    --redColor: hsla(0, 64%, 55%, 100%);
    --tealColor: hsla(160, 51%, 49%, 100%);
    --orangeColor: hsla(22, 78%, 55%, 100%);
    --yellowColor: hsla(43, 89%, 70%, 100%);
    --grayColor: hsla(0, 0%, 62%, 100%);
    --silverColor: hsla(0, 0%, 97%, 100%);
    
    /**
     custom colors
     **/

    --highlightColor: hsla(0, 50%, 50%, 100%);
    --primaryColor: hsla(0, 50%, 50%, 100%);
    --secondaryColor: hsla(0, 50%, 50%, 100%);
}

