.form {

    width: 100%;
    height: 100%;
    display: block
}

.label {
    
    display: block;
    margin: 8px 0px
}

.input {
    
    display: block;
    width: 100%;
    margin: 8px 0px;
    padding: 7px 12px;
    border: var(--inputBorderWidth) solid var(--inputBorderColor);
    border-radius: var(--inputBorderRadius);
    font-size: 1.0rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--inputTextColor);
    background-color: var(--inputBackgroundColor)
}

.input:focus {
    
    outline: 0;
    box-shadow: 0 0 0 4px var(--inputFocusColor)
}

.input.type\:textfield {
    
    min-height: 35px
}

.input.type\:checkbox {
    
    height: 35px
}

.input.type\:securefield {
    
    height: 35px
}

.input.type\:searchfield {

    height: 35px
}

.input.type\:selectfield {
    
    height: 40px;
    -webkit-appearance: none
}

.required\:true:after {
    
    content: " *";
    color: var(--redColor)
}

.resize\:false {
    
    resize: none
}
