.chart {
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    padding: 10px 25px;
    box-sizing: border-box;

    border: 1px solid #dee2e6;
    border-radius: 5px;
    background-color: #fff;
}

.chart.type\:pie {
    
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: conic-gradient(
        var(--redColor) 0% 35%,
        var(--yellowColor) 35% 60%,
        var(--blueColor) 60% 100%
    );
}

.chart.type\:bar {
    
    display: block;
    width: 50px;
    height: 200px;
    background: linear-gradient(
        var(--transparentColor) 0 15%,
        var(--redColor) 15% 100%
    );
}

.chart.type\:donut {
    
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    
    background: radial-gradient(
        var(--whiteColor) 40%,
        var(--transparentColor) 40%
    ), conic-gradient(
        var(--redColor) 0% 35%,
        var(--blueColor) 35% 60%,
        var(--yellowColor) 60% 100%
    );
}
