.dropdown {
    display: inline-block;
    position: relative;
    border-radius: 5px;
    background-color: var(--primaryBackgroundColor);
}

    .dropdown .dropdown-action {
        display: inline-block;
        padding: 10px 24px;
        box-sizing: border-box;
        border: 1px solid transparent;
        border-radius: 5px 0px 0px 5px;
        cursor: pointer;
        color: #fff;
        text-decoration: none;
        font-size: 14px;
    }

    .dropdown .dropdown-menu-toggle {
        display: inline-block;
        padding: 10px 14px;
        border: 1px solid transparent;
        border-radius: 0px 5px 5px 0px;
        box-sizing: border-box;
        cursor: pointer;
        color: #fff;
        text-decoration: none;
        font-size: 14px;
    }

.dropdown-action:hover {
    background-color: var(--primaryHoverBackgroundColor);
}

.dropdown-menu-toggle:hover {
    background-color: var(--primaryHoverBackgroundColor);
}

.dropdown .dropdown-menu {
    display: none;
    margin: 0;
    padding: 0;
    width: 200px;
    min-height: 150px;
    position: absolute;
    top: 50px;
    right: 0px;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    overflow: hidden;
}

        .dropdown .dropdown-menu .dropdown-item {
            border-bottom: 1px solid #e0e0e0;
        }

            .dropdown .dropdown-menu .dropdown-item:hover {
                background-color: #dee2e6;
            }

            .dropdown .dropdown-menu .dropdown-item a {
                display: block;
                padding: 10px 15px;
                color: #006fe6;
                text-decoration: none;
            }

            .dropdown .dropdown-menu .dropdown-item:hover a {
                color: #006fe6;
            }

            .dropdown .dropdown-menu .dropdown-item:last-child a {
                color: #ff6160;
            }
