.form {
    
    display: flex;
    flex-direction: column;
    border: var(--formBorderWidth) solid var(--formBorderColor);
    border-radius: var(--formBorderRadius);
    background-color: var(--formBackgroundColor);
}

.input {
    
    width: 100%;
    padding: 0px 15px;
    border: var(--inputBorderWidth) solid var(--inputBorderColor);
    border-radius: var(--inputBorderRadius);
    font-size: 1.0em;
}

    .input:focus {
        
        outline: none;
        border: 1px solid #6da0fc;
    }

    .input.type\:text {
        
        min-height: 35px;
    }

    .input.type\:check {
        
        height: 35px;
    }

    .input.type\:password {
        
        height: 35px;
    }

    .input.type\:search {
        
        min-width: 200px;
        height: 35px;
    }

    .input.type\:select {
        
        height: 40px;
        -webkit-appearance: none;
    }

    .required\:true:after {

        content: " *";
        color: var(--redColor);
    }
