.list {
    display: flex;
    border: var(--listBorderWidth) solid var(--listBorderColor);
    border-radius: var(--listBorderRadius);
    background-color: var(--listBackgroundColor);
}

.list.direction\:horizontal {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px
}

.list.direction\:vertical {
    flex-direction: column;
    gap: 15px
}

.list-row {
}
