.list {
    
    display: flex;
    flex-direction: column;
    border: var(--listBorderWidth) solid var(--listBorderColor);
    border-radius: var(--listBorderRadius);
    background-color: var(--listBackgroundColor);
}

.list-row {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
