.navigation {
    display: flex;
    list-style: none;
    border: var(--navigationBorderWidth) solid var(--navigationBorderColor);
    border-radius: var(--navigationBorderRadius);
    background-color: var(--navigationBackgroundColor);
}

.navigation-item {
    text-transform: none;
    outline: none;
}

    .navigation-item .navigation-link {
        color: var(--navigationLinkColor);
        text-decoration: none;
        cursor: pointer
    }

    .navigation-item:hover .navigation-link {
        color: var(--navigationLinkHoverColor);
        text-decoration: none;
    }

    .navigation-item:hover .subnavigation * {
        font-weight: normal;
    }

    .navigation-item:focus .subnavigation {
        opacity: 1;
        visibility: visible;
    }

.navigation.direction\:horizontal {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px
}

.navigation.direction\:vertical {
    flex-direction: column;
    gap: 15px
}

.subnavigation {
    display: flex;
    position: absolute;
    min-width: 200px;
    margin: 10px -175px;
    z-index: 1;
    background-color: var(--subnavigationBackgroundColor);
    border: 1px solid var(--subnavigationBorderColor);
    border-radius: 5px;
    list-style: none;
    
    opacity: 0;
    visibility: hidden;
}

.subnavigation-indicator:after {
    font-family: "Font Awesome 5 Free";
    font-size: 14px;
    font-weight: 900;
    content: "\f078";
    padding-left: 12px;
}

.subnavigation-indicator:hover:after {
    color: var(--navigationLinkHoverColor);
    font-weight: bold;
}

.forward-indicator:after {
    font-family: "Font Awesome 5 Free";
    font-size: 14px;
    font-weight: 900;
    content: "\f061";
    padding-left: 12px;
}

.forward-indicator:hover:after {
    color: var(--navigationLinkHoverColor);
    font-weight: bold;
}
